[package]
name = "hsmq"
version = "0.1.0"
edition = "2021"
default-run = "hsmq"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { version = "0.7.5", features = ["ws", "http2"] }
axum-test = "15.3.0"
base64 = "0.22.0"
clap = { version = "4.5.4", features = ["derive"] }
consulrs = { version = "0.1.0", optional = true }
futures = "0.3.30"
gethostname = "0.5.0"
h2 = "0.4.4"
http = "1.1.0"
jsonwebtoken = "9.3.0"
lazy_static = "1.4.0"
log = "0.4.21"
opentelemetry = "0.23.0"
opentelemetry_sdk = { version = "0.24.1", features = ["rt-tokio"] }
prometheus = { version = "0.13.3", features = ["process"] }
prost = "0.13.1"
prost-types = "0.13.1"
rand = "0.8.5"
redis = { version = "0.25.3", optional = true }
serde = { version = "1.0.197", features = ["derive"] }
tokio = { version = "1.37.0", features = ["macros", "rt-multi-thread", "signal"] }
tokio-stream = "0.1.15"
tokio-util = { version = "0.7.10", features = ["rt", "time"] }
toml = "0.8.12"
tonic = "0.12.1"
tonic-health = "0.12.1"
tracing = "0.1.40"
tracing-opentelemetry = "0.24.0"
tracing-subscriber = "0.3.18"
uuid = { version = "1.8.0", features = ["v4", "v7"] }
sentry = { version = "0.34.0", optional = true }
sentry-tracing = { version = "0.34.0", optional = true }

[build-dependencies]
tonic-build = "0.12.1"

[features]
sentry = ["sentry/tokio", "dep:sentry-tracing"]
consul = ["dep:consulrs"]
default = ["redis", "redis-cluster"]
redis = ["redis/tokio-comp"]
redis-cluster = ["redis/cluster-async"]
redis-stream-order-atomic = []
